html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title One more universal example
    link(href=asset.url('app', 'css') media='all' rel='stylesheet' type='text/css')
  body
    #app
    script.
      window.twttr = (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
          t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
        t._e = [];
        t.ready = function (f) {
          t._e.push(f);
        };
        return t;
      }(document, "script", "twitter-wjs"));


    script.
      window.__INITITAL_STATE__ = !{JSON.stringify(initialState)}
      window.__LOCALE_DATA__ = !{JSON.stringify(messages)}
      window.__LOCALE__ = !{JSON.stringify(locale)}
    script(src=asset.url('app', 'js'))
